@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: black; }
}

.typing {
  width: 28ch;
  animation: typing 3s steps(28) forwards, blink 0.7s step-end infinite;
}
